<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home.mybakingappone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.RecentlyViewedActivity"
            android:label="@string/title_activity_recently_viewed"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:parentActivityName=".ui.Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.home.mybakingappone.ui.Main2Activity" />
        </activity>
        <activity
            android:name=".ui.Main2Activity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RecipeDetail2"
            android:label="Details"
            android:launchMode="singleTop"
            android:theme="@style/RecipeStepTheme" />
        <activity
            android:name=".ui.RecipeStepDetail2"
            android:label="Recipe Steps"
            android:parentActivityName=".ui.RecipeDetail2"
            android:theme="@style/RecipeStepDetailTheme" />

        <service android:name=".RecipeUpdateService2" />

        <receiver android:name=".RecipeWidgetProvider2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_provider_info" />
        </receiver>
    </application>

</manifest>